.interna {

    &.filme-cellep {

        section {
            height: 100vh;
            position: relative;
            &.topo {
                @include get_background_image("cases/filme-cellep/topo.jpg", center);
                background-size: cover;
            }
            &.video {
                background: #ffffff;
                iframe {
                    width: 80%;
                    height: 80%;
                    @include center_hv();
                }
            }
            &.arte-1 {
                @include get_background_image("cases/filme-cellep/arte-1.jpg", center);
                background-size: 100%;
            }
            &.arte-2 {
                @include get_background_image("cases/filme-cellep/arte-2.jpg", center);
                background-size: 100%;
            }
        }
    }  
    
    &.elephant-parade { 
        section {
            height: 100vh;
            position: relative;
            &.topo {
                @include get_background_image("cases/elephant-parade/cabecalho.jpg", center);
            }
            &.mockups {
                @include get_background_image("cases/elephant-parade/sec2bg.jpg", center);
                .cycle-slideshow {
                    width: 100%;
                    height: 100vh;
                    img {
                        background-color: transparent !important;
                        width: 65% !important; 
                        height: auto !important;
                    }
                }
            }
            background-size: cover; 
        }
    }

}